.logo {
	display: flex;
	margin-bottom: 50px;
}

.logo img {
	width: 40%;
}

.logo strong {
	font-size: 1.5em;
	margin: 30px 10px;
}

#wrapped div {
	border: 2px solid black;
} 

.label {
	width: 200px;
	font-weight: bold;
	float: left;
	text-align: left;
	clear: left;
	margin-bottom: 10px;
}

.inputfield {
	margin-bottom: 10px;
	float: left;
	text-align: left;
}

.inputfield input {
	background: transparent;
	border: none;
	border-bottom: 1px solid black;
}

input[type="submit"] {
	float: left;
	text-align: left;
	clear: left;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.office {
	border: 1px dotted black;
	width: 200px;
	height: 110px;
	float: left;
	text-align: left;
	margin-left: 60px;
	margin-top: 20px;
}

input[name="office"] {
	background: transparent;
	border: none;
	border-bottom: 1px solid black;
}

@media screen and (min-width: 768px) {
	body form {
		margin-left: 30%;
	}

	.logo {
		margin-left: 30%;
	}

	.logo img {
		width: 20%;
	}
}
